.home-container {
    text-align: center;

  }
  
  .header {
    font-family: Neucha; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 900; line-height: 26.4px;
    margin-bottom: 20px;
    
  }
  
  .world-map {
    width: 80%;
  }
  
  .start-button {
    padding: 10px 20px;
    vertical-align: middle;
    font-family: 'Neucha';font-size: 22px;
  }
